@mixin column-styles($columnSpacing,$width) {
	padding-left:#{$columnSpacing};
	padding-right:#{$columnSpacing};
	min-height:1px;
	width:$width;
	box-sizing: border-box;
	position:relative;
}
@mixin grid($columns,$columnSpacing,$affix:"") {
	.row#{$affix} {display:flex;flex-flow: row wrap;margin-left:-$columnSpacing;margin-right:-$columnSpacing;}
	@for $i from 1 through $columns {
		.col#{$affix}-md-#{$i} { @include column-styles($columnSpacing,100%); }
		.col#{$affix}-lg-#{$i} { @include column-styles($columnSpacing,100%); }
		.col#{$affix}-sm-#{$i} { @include column-styles($columnSpacing,percentage(1/$columns*$i)); }
	}
	@media all and (min-width:768px) and (max-width:991px) {
		@for $i from 1 through $columns {
			.col#{$affix}-md-push-#{$i} {left:percentage(1/$columns*$i);}
			.col#{$affix}-md-pull-#{$i} {right:percentage(1/$columns*$i);}
		}
	}
	@media all and (max-width:767px) {
		@for $i from 1 through $columns {
			.col#{$affix}-sm-push-#{$i} {left:percentage(1/$columns*$i);}
			.col#{$affix}-sm-pull-#{$i} {right:percentage(1/$columns*$i);}
		}
	}
	@media all and (min-width:768px) {
		@for $i from 1 through $columns {
			.col#{$affix}-md-#{$i} { @include column-styles($columnSpacing,percentage(1/$columns*$i)); }
		}
	}
	@media all and (min-width:992px) {
		@for $i from 1 through $columns {
			.col#{$affix}-lg-#{$i} { @include column-styles($columnSpacing,percentage(1/$columns*$i)); }
			.col#{$affix}-lg-push-#{$i} {left:percentage(1/$columns*$i);}
			.col#{$affix}-lg-pull-#{$i} {right:percentage(1/$columns*$i);}
		}
	}
}