@media all and(max-width:1024px) {
  html { font-size:20px;}
  body {padding-top:105px;}
}

@media all and (max-width:767px) {
  body {padding-top:55px;}
  footer { padding:25px 0 45px 0;
    .logo { margin-bottom:25px;}
    ul { line-height:$lineHeight*1.2;}
    .footer-title { margin-top:20px; margin-bottom:5px;}
  }
  header {height:55px;
    .main-menu {padding:0;justify-content:flex-start;height:100%;align-items:center;
      .logo { font-size:$fontSize4; float:none; margin-left:0; padding:12px 0 8px 0; display:inline-block;}
      .menu-btn { display:block;}
      .menu-items { display:none;border-top:1px solid lighten($black, 80%);padding:0;position:fixed;top:55px;left:0;width:100%;background:#fff;
        li { display:block;
          a { padding:14px 30px; display:block;}
          +li { margin-left:0; border-top:1px solid lighten($black, 80%);}
        }
      }
      .shop-menu { position:absolute; top:12px; right:75px;
        li {
          + li { margin-left:15px;}
        }
      }
    }
  }
  html {
    &.menu-active {
      header {
        .main-menu {
          .menu-items {display:block;}
        }
      }
    }
  }
}