.block-about{
  width: 100%;
  margin: 90px 0 50px ;
}
.block-container{
  display: grid;grid-template-columns: repeat(6, 1fr);grid-gap: 51px;
  max-width: 1390px;margin-inline:auto;
}
.block-image{
  grid-column: span 2;
  max-width: 1390px;
  height: auto;
  display: flex;flex-direction: column;
}
.images{
  display: flex;justify-content: center;align-items: center;
}
.headings{
   display: flex;justify-content: center;align-items: center;
 }
.block-container > .about_header{
  text-align: center; text-transform: uppercase;
  font: normal normal bold 50px / 64px Open Sans;
  letter-spacing: 0px;
  color: #171717; opacity: 1;
  grid-column: 2 / span 4;
}
.head{
  text-align: left;
  font: normal normal normal 18px/26px Open Sans;
  letter-spacing: 0.18px;
  color: #000000;
  opacity: 1;
}
.image4,.image5,.image6{
  width: 100%;
}
.headline{
  text-align: center; text-transform: uppercase;
  font: normal normal bold 24px/32px Open Sans; letter-spacing: 0px;
  color: #171717; opacity: 1;
}
.headline_2,.headline_3,.headline3,.headline4,.headline5{
  text-align: center; text-transform: uppercase;
  font: normal normal bold 24px/32px Open Sans; letter-spacing: 0px;
  color: #171717; opacity: 1;
}
.headline_2{
  grid-column: 1 / span 2;
}
.headline_3{
  grid-column: 1 / span 2;
}
.headline3,.headline4,.headline5{
  text-align: left;
}
.headline5{
  width: 110%;
}
.contents{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.content,.content_2,.content_3,.content_4,.content_5,.content_6{
  text-align: center;
  font: normal normal normal 18px / 26px Open Sans; letter-spacing: 0.18px;
  color: #000000;opacity: 1;
  margin-top: 20px;
}
.content_4,.content_5,.content_6{
  text-align: left;
}
.about-button,.about-button-2,.about-button-3{
  display: flex;justify-content: center;align-items: center;
  padding: 1rem;margin-top: 20px;
  height: 51px;
  border: 2px solid #171717; border-radius: 100px;
  color: #171717;  opacity: 1;
  font: normal normal normal bold 18px/26px Open Sans; text-transform: uppercase;
}
.about_button{
  height: auto;
  margin-top: auto;
}
@media screen and (max-width: 1024px) {
.block-image{
  grid-column: span 3;
}
}
@media screen and (max-width: 768px) {
.block-image {
  grid-column: 1 / span 6;
}
}
@media screen and (max-width: 625px) {
.block-container > .about_header {
  grid-column: span 6;
}
}
@media screen and (max-width: 350px) {
.block-container > .about_header {
  grid-column: 1 / span 6;
  font: normal normal bold 35px / 64px Open Sans;
}
.block-image {
  grid-column: 1 / span 6;
}
.about-button, .about-button-2, .about-button-3 {
  margin-top: 0;
}
}