.advance-text-block {
  margin: 90px 0 50px;

  .advanced-text-grid {
    max-width: 1390px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 51px;
    margin: 0 auto;
  }

  .advanced-text-container {
    display: flex;
    flex-direction: column;
    grid-column: 2 /span 4;
  }
  .advanced-text-big-headline{
    color: #171717;
    font-family: "Open Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 128% */
    text-transform: uppercase;
  }

  .advanced-text-text-big {
    display: flex;
    flex-direction: column;
    grid-column: 2 /span 4;

    .advanced-text-big-copy {
      margin-top: 20px;
      color: #171717;
      font-family: "Open Sans";
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
    }
  }

  .advanced-text-one-column {
    grid-column: 1 /span 4;
  }

  .advanced-text-two-column-wide {
    display: flex;
    flex-direction: column;
    grid-column: 2 /span 4;
  }

  .advanced-text-two-column {
    display: flex;
    flex-direction: column;
    grid-column: 1 /span 3;
  }
    .column {
      margin-top: 52px;
      grid-column: 4 / span 3;

    .two-button {
      display: flex;
      justify-content: flex-end;
      align-items: end;
    }
  }
}
