.block-card {
  .text-grid {display: flex;gap: 50px;
  }
  .headline {padding: 5px 0 15px 0;@include typoHeadline;}
  .overline{@include typoOverline;}
  .gradient-grid{display: flex;gap:50px;
    .card-gradient{display: flex;flex-direction: column;justify-content: center;z-index: 3}
  }
  .stacked-grid{
    display: flex;flex-direction:column;grid-template-columns: 1fr;gap: 50px;margin: 0 auto;max-width: 960px;
  }
  .theme-cta{@include cta;}
  .media-container{position: relative;
    .headerbild-img {position: relative;z-index: -2;}
    .gradient-img {position: absolute;top: 0;right: 0;z-index: 1;left: 50%;}
  }
  img{
    display: block;
  }
}

