.block_comments{
  width: 100%;
  margin: 55px 0;
  background: #171717;
}
.comments-container{
  margin: 0 auto ;
  max-width: 1390px;
  width: 100%;
}
.container-content{
  display: grid;
  grid-template-columns: repeat(6, 210px);
  justify-content: center;align-items: center;
 }
.comments_wrapper{
  grid-column: 1 / span 6;
  }
.comments_content{
  grid-column: 2 / span 6;
   }

.comments_section2{
  grid-column: 7 / span 1;
}

.headline1,.headline2{
  width: 85%;
  text-align: center;
  font: italic normal bold 24px / 32px Open Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.comments_sub-content{
   width: 993px;
   height: 33px;
   text-align: center;
   font: normal normal bold 24px/32px Open Sans;
   letter-spacing: 0px;
   color: #FFFFFF;
   opacity: 1;
   margin-top: 20px;
 }

//@media  screen and (max-width: 2217px) {
//  .comments_container{
//    margin-left: 340px;
//  }
//}
//@media screen and (max-width: 1299px) {
//  .comments_container{
//    margin-left: 1000px;
//  }
//}
//@media screen and (max-width: 1095px) {
//  .comments_container{
//    margin-left: 1060px;
//  }
//}