.block-content {
  .flex-grid {
    display: grid;grid-template-columns: repeat(3, 1fr);gap: 51px;
    .texts-container {padding-top: 20px;}
  }
  .list-grid {display: flex;flex-direction: column; gap: 51px;
    .list-img-wrapper {display: flex;gap: 50px;
      .image-container {
        flex: 1;
        padding-bottom: 17.5%;
        position: relative;
      }
      .texts-container {flex: 2;}
    }
  }
  .image-container {
    padding-bottom: 55.5%;
    position: relative;
  }
  img {display: block;@include imgCover;}
}