.block-content-flex{
    width: 100%;
    margin: 90px 0 50px ;
  .block-container{
    display: grid;grid-template-columns: repeat(6, 1fr);grid-gap: 51px;
    max-width: 1390px;margin-inline:auto;
  }
  .block-image{
     grid-column: span 2;
     max-width: 1390px;height: auto;
     display: flex;flex-direction: column;
  }
  .content_flex-overline{
     margin-top: 20px;
   }
}

.content_flex-container-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 51px;
  max-width: 1390px;
  margin-inline: auto;

  .content-flex-img-wrapper {
    grid-column: span 6;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1390px;
  }

  .content_flex-texts_container {
    grid-column: 3 /span 4;
    grid-row: 1;
    margin: 50px 0 0 50px;
  }

  .content-flex-img img {
    width: 100%;
    height: auto;
  }
}