.block-content-flex {
  .block-flex-grid {display: grid;grid-template-columns: repeat(3, 1fr);grid-gap: 51px;
    .block-image {grid-column: span 1;
      img{max-width: 100%;width: 100%;}
      .texts-container{padding-top: 20px}
    }
  }
  .block-list-grid {display: grid;grid-gap: 51px;
    .list-img-wrapper {grid-column: span 1;display: flex;gap: 50px;justify-content: center;align-items: center;
      img {place-self: flex-start;max-width: 100%;}
    }
  }
  .cta{@include cta();}
}