.block-hero {
  .hero-flex {
    display: flex;
    .image-wrapper {
      position: relative;
      padding-bottom: 26.5%;
      flex: 1;
    }
    img {display: block;@include imgCover;}
    .text-container {flex: 1;display: flex;flex-direction: column;justify-content: center;}
  }
  .overline {@include typoOverline;}
  .hero-black-flex {
    background-color: #171717;
    display: flex;justify-content: center;
    position: relative;
    padding-bottom: 10%;
    .image-wrapper {
      position: absolute;top: 74%;
      width: 49%;height: 100%;
      img {display: block;width: 100%}
    }
    .hero-black-text-container {
      display: flex;flex-direction: column;align-items: center;
      padding: 49px 0 0;
      .theme-headline {color: $textColor1;}
      .overline {color: $textColor1;}
      .copy {
        width: 45%;
        color: $textColor1;
        text-align: center;
      }
      .theme-cta {;
        color: $textColor1;
        border: 1px solid $textColor1;
      }
    }
    .black-img {
      position: relative;
      padding-bottom: 26.5%;
      width: 50%;
    }
  }
  .padding {padding: 10px 0 15px 0;}
}