
.block_hero {
  width: 100%;
  align-items: center;
}
.hero-container{
margin-top: 160px;
}
.grid-container{
  display: grid;grid-template-columns: repeat(6, 1fr);grid-gap: 51px;
  max-width: 1390px;
  margin-inline: auto;
 }
.image_container{
  margin: 0 auto;
  max-width: 1320px;
  width: 100%;
  display: grid;
  position: relative;
}
.hero_img {
  width: 100%;
  grid-column: 1 / span 4;grid-row: 1;
  z-index: -1;
  background-size: cover;
}
.gradient {
  z-index: -1;
  grid-row-start: 1;grid-column: 3 / span 3;
  width: 100%;
}
.texts_container{
  grid-row: 1;grid-column: 4 / span 3;
}
.hero_text {
  font: normal normal bold 15px/19px Open Sans;
  font-weight: bold; font-size: 15px;
  line-height: 19px; letter-spacing: 0.38px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 168px;
}
.hero_title {
  font: normal normal bold 24px/32px Open Sans;
  font-weight: bold;font-size: 24px;
  line-height: 32px;
  color: #171717;
  text-transform: uppercase;
  margin-top: 1%;
  width: 102%;
  grid-column: 4 / span 6
}
.hero_subtitle{
  font: normal normal normal 18px/26px Open Sans;
  font-size: 18px;
  line-height: 26px;letter-spacing: 0.18px;
  color: #000000;
  width: 89%;
  margin-top: 20px;
}
.button_1 {
  border: 2px solid #171717; border-radius: 100px;
  display: flex; justify-content: center;align-items: center;
  font-weight: bold;font-size: 16px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  width: 280px;height: 51px;
  margin-top:20px;
  grid-column: span 3;
}
@media screen and (max-width: 1460px){
.container{
  margin-left: 78px;
  margin-right: 78px;
  width: unset;
}
.hero_img{
  grid-column: 1/ span 5;
}
.gradient{
  grid-column: 3 / span 4;
}
.texts_container{
  grid-column: 3 / span 4;
}
}
@media  screen and (max-width:1024px) {
.texts_container{
  grid-row: 2;
  grid-column: 1 / span 6;
}
.hero_text{
   margin-top: 0px;
}
}
@media screen and (max-width: 765px) {
.container{
  margin-left: 25px;margin-right: 25px;
}
}
@media screen and (max-width:935px){
.hero_img, {
  grid-column: 1/ span 5;
}
.gradient {
  grid-column: 3 / span 4;
}
.texts_container{
  grid-row: 2;
  grid-column: 1 / span 6;
}
}
@media screen and (max-width: 446px){
.container{
  margin-left: 25px;margin-right: 25px;

}
.button_1{
  width: auto;
}
.block-container > .about_header{
  grid-column: 1 / span 6;
  font: normal normal bold 35px / 64px Open Sans;
}
}