.block-jobs {
  padding-top: 150px;

  .jobs-grid {
    display: flex;
    gap: 51px;

    .table {
      flex: 1;

      .table-label {
        border: 1px solid #171717;
      }

      .table-span {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
      }

      .jobs-overline {
        color: $textColor3;
        font-size: 0.93rem;
      }

      .button-caret {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        .caret-button {
          cursor: pointer;
        }

        .caret-up.open-job {
          margin-right: 10px;
          font-size: 24px;
          cursor: pointer;
          max-height: 100%;
        }
      }

      .hr-container {
        padding-left: 10px;
        padding-right: 20px;
        max-height: 0;
        overflow: hidden;
      }

      .hr-container.open-job {
        max-height: 100%;
        display: block;
      }

      .job-button {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        max-height: 0;
        overflow: hidden;

        .open-job {
          display: flex;
          flex-direction: column;
          justify-content: left;
          align-items: flex-start;
          max-height: 100%;
        }

        .job-headline {
          //margin-top: 15px;
          color: #171717;
          font-family: "Open Sans";
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0.375px;
          text-transform: uppercase;
          padding: 1rem;
          cursor: pointer;
        }

        .job-headline:hover {
          color: blue;
        }

        .job-headline:focus {
          font-weight: bold;
          color: blue;
        }
      }
    }
    .job-items {
      flex: 2;

      .job-item {
        border-bottom: 2px solid black;

        .job-row {
          margin-bottom: 1rem;

          .job-type {
            padding: 1rem 0;
          }

          .job-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .job-text {
              pointer-events: none;
              color: #000;
            }
          }
        }
      }
    }
  }
}


