.block-nag-screen {
  .wrapper { display: flex;flex-direction:column;align-items: center; justify-content: center; height: 545px;background: rgba(54, 247, 234, 1);
    .flex {display: flex;flex-direction: column;padding: 0 20.8px;
      .times-icon {;font-size: 30px;place-self: self-end;}
      .text-container {display: flex; flex-direction: column;align-items: center;
        .overline {text-align: center;font-size: 0.93rem;}
        .headline {width: 30%;margin-top: 10px;color: $textColor3;text-align: center;@include boldHeadline();}
        .copy {margin-top: 25px;text-align: center;}
        .cta{@include cta();}
      }
    }
  }
}