.block-quote {
  .wrapper {background: $textColor3;
    .grid {display: grid;grid-template-columns: repeat(6, 1fr);grid-gap: 51px;
      .text-container {grid-column:2/span 4;grid-row: 2;
        .headline{@include typoHeadline;color: $textColor1;text-transform: capitalize;font-style: italic;text-align: center;}
        .caption {@include typoHeadline;margin-top: 30px;color: #FFF;text-transform: capitalize;text-align: center;}
      }
      .svg-right {grid-column: 6 / span 1;grid-row: 2/span 2;place-self: end;}
      img{max-width: 100%;display: block}
    }
  }
}