.block-quote {
  background: $textColor3;
  height: 298px;display: flex;justify-content: center;align-items: center;
  .flex {
    display: flex;justify-content: center;align-items: center;
    .text-container {
      flex: 1; display: flex;flex-direction: column;justify-content: center;align-items: center;gap: 30px;
      .headline{
        color: $textColor1;text-transform: inherit;font-style: italic;text-align: center;
        max-width: 76%}
      .caption {
        color: #FFF;text-transform: capitalize;text-align: center;}
    }
  }
  .svg-right {
    padding-top: 14px;
    img{max-width: 86px;display: block;margin-left: auto;}
  }
  img{max-width: 86px;display: block;}
}