.block-paragraph{
    width: 100%;
    align-items: center;
}
.paragraph-grid{
  display: grid;grid-template-columns: repeat(6, 1fr);grid-gap: 51px;
  max-width: 1390px;
  margin-inline: auto;
}
.paragraph-container{
  border: 1px solid green;
}
.paragraph{
  text-align: left;
  font: normal normal normal 18px/26px Open Sans;
  letter-spacing: 0.18px;
  color: #000000;
  opacity: 1;
  margin-bottom: 20px;
}