.block-swipe-teaser {
  .theme-container{
    .grid {
      .slick-slide{
        margin: 0 27.5px;
        .media-wrapper{
          position: relative;padding-bottom: 55.5%;
        }
        max-width: 472px;
        display: block;
        img {display: block;@include imgCover;}
      }
      .slick-list{overflow: hidden;margin: 0;padding: 0;
        &.draggable{
        padding:0!important;
        }
      }
      .slick-track{
        gap: 55px;display: flex;
      }
      .text-wrapper{padding-top: 9%;}
      .slick-dots{
        margin-top: 73px;
        display: flex;justify-content: center;align-items: center;cursor: pointer;
        li {
          width: 10px;height: 10px;border-radius: 50%;border: 1px solid black;
          margin: 0 2px;
          button {
            &:before {color: unset;}
            font{display: none;}
            display: none;
          }
          &.slick-active {
            background: black;
            button {
              &:before {color: unset}
              font{display: none;}
            }
          }
        }
      }
    }
  }
}


