.block-swipe-teaser {
  .theme-container{padding: 0;
    .grid {display: grid;grid-template-columns: repeat(4, 1fr);grid-gap: 51px;
      img {width: $width;display: block}
      .text-container {
        .overline {@include typoOverline}
        .headline {margin: 5px 0 15px ;@include typoHeadline}
      }
    }
    .navigation {margin-top: 73px;display: flex;justify-content: center;}
    .nav-btn {width: 12px;height: 12px;margin: 0 5px;border-radius: 50%;border: 1px solid;cursor: pointer;transition: background-color 0.3s ease;
      &:hover {background-color: #333;}
      &.active {background-color: #333;}
    }
  }
}


