.block-team {
  max-width: 1390px;
  width: 80%;
  margin: 0 auto ;
}
.container{
}
.text_container{
  max-width: 1390px;
  display: grid;grid-template-columns: repeat(6, 1fr);grid-gap: 51px;
  margin: 0 auto;
}
.team-text{
  grid-column: 3 / span 3;
  justify-self: center;
}
.team_headline{
  text-align: center;
  font: normal normal bold 24px / 32px Open Sans;
  letter-spacing: 0px;
  color: #171717;
  text-transform: uppercase;
  opacity: 1;
}
.class_content{
  margin-top: 20px;
  text-align: center;
  font: normal normal normal 18px/26px Open Sans;
  letter-spacing: 0.18px;
  color: #000000;
  opacity: 1;

}
.team_column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  grid-column: span 2;
}
.team_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 41px;
}

.names {
  text-align: center;
  font: normal normal bold 24px/32px Open Sans;
  letter-spacing: 0px;
  color: #171717;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 25px;
}

.image1{
  margin-left: 49px;
}
.image2{
  margin-left: 128px;
}
.image3{
  margin-left: 119px;
}
.team_contact{
  text-align: center;
  font: normal normal normal 18px/26px Open Sans;
  letter-spacing: 0.18px;
  color: #000000;
  opacity: 1;
  display: flex;justify-content: center;align-items: center;flex-direction: column;
}
