.block-team {
  .grid {
    display: grid;grid-template-columns: repeat(3, 1fr);gap: 51px;
    .item {
      text-align: center;display: flex;flex-direction: column;justify-content: center;align-items: center;gap:20px;
      &:nth-of-type(4){
        align-items: end;
      }
      &:nth-of-type(5){
        align-items: end;
      }
      .media-container{
        position: relative;
        padding-bottom: 44.48%;
        max-width: 210px;width: 100%;
        img{display: block;@include imgCover;}
      }
      .text-container{
        .copy{padding-top: 15px;}
      }
    }
  }
}
