.block-article-list { margin-top:60px;border-top:1px solid $black;padding-top:50px;
  .title {@extend %smallTitle;margin-bottom:75px;}
  article { display:flex;flex-flow:row wrap;
    &:nth-child(2n) {
      .article-content {order: -1;padding:0 100px 0 0;}
    }
  }
  .article-thumb {position:relative; padding-bottom:46%;flex:50%;max-width:none; margin-bottom:0;
    img {width:100%;object-fit:cover; position:absolute; left:0; top:0; height:100%;}
  }
  .article-content {flex:50%;align-self: center; padding:0 0 0 100px;}
  .article-teaser { font-size:$fontSize2;}
  .article-date { font-size:$fontSize1;}
  .article-title { font-weight:700; margin-bottom:20px;}
  .btn { margin-top:40px;}
}

@media all and(max-width:1450px) {
  .block-article-list {
    article {
      &:nth-child(2n) {
        .article-content {padding:0 60px 0 15px}
      }
    }
    .article-content { padding:0 15px 0 60px}
  }
}

@media all and(max-width:1025px) {
  .block-article-list {
    article {
      &:nth-child(2n) {
        .article-content {padding:10px 40px 35px 0}
      }
    }
    .btn { margin-top:20px;}
    .article-content { padding:10px 0 35px 40px}
  }
}

@media all and(max-width:767px) {
  .block-article-list { border-top:0; margin-top:0; padding-top:0;
    .title { margin-bottom:25px;}
    article { display:block;
      &:nth-child(2n) {
        .article-content { padding:0;}
      }
      .article-content {flex:none; padding:0;}
      .article-title { font-size:$fontSize4; margin-bottom:5px;}
      .article-teaser { line-height:$lineHeight;}
      .article-thumb {flex:none; padding-bottom:52%; margin-bottom:5px;}
      .btn { margin-top:10px;}
      +article { margin-top:30px;}
    }
  }
}