.block-gallery {
  .items {display:flex;margin:-10px;flex-wrap: wrap;
    .item {margin:10px;width:calc(33.3333% - 20px);
      .img-container {padding-bottom:56.25%;position:relative;
        img {@include absFull;object-fit:cover;}
      }
    }
  }
}

@media all and (max-width:767px) {
  .block-gallery {
    .items {
      .item {width:calc(50% - 20px);}
    }
  }
}

@media all and (max-width:420px) {
  .block-gallery {
    .items {
      .item {width:100%;}
    }
  }
}