
###> symfony/framework-bundle ###
/.idea
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/*
!public/build/.gitkeep
/public/videos
/public/js
/public/css
/build/

npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> enhavo/app-bundle ###
public/build/enhavo/*
public/build/theme/*
public/js/fos_routes.js
###< enhavo/app-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
