//.nav {
//  height: 123px;
//  position: relative;
//  background-color: transparent;
//
//  .navbar-grid {
//    display: grid;
//    grid-template-columns: repeat(6, 1fr);
//    grid-gap: 51px;
//    align-items: center;
//    padding: 2.71rem;
//
//    .header-img {
//      grid-column: 1 / span 2;
//      display: flex;
//      align-items: center;
//
//      img {
//        height: auto;
//        max-width: 100%;
//      }
//    }
//
//    .navigation {
//      grid-column: 3 / span 2; /* Spanning 3 columns */
//      display: flex;
//      justify-content: space-evenly;
//
//      .nav-item {
//        position: relative;
//        a {
//          font: normal normal normal 18px/19px Open Sans;
//          letter-spacing: 0.45px;
//          color: #FFFFFF;
//          text-transform: uppercase;
//          opacity: 1;
//          text-decoration: none;
//          &:hover {
//            color: #ffcc00;
//          }
//        }
//        &:hover .sub-menu-ul {
//          opacity: 1;
//          overflow: unset;
//          transform: translateY(0);
//        }
//      }
//      .sub-menu-ul {
//        position: absolute;
//        width: 100%;
//        left: 0;
//        top: calc(100% + .25rem);
//        opacity: 0;
//        transform: translateY(-10px);
//        overflow: hidden;
//        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
//      }
//
//      .sub-menu-list {
//        padding: 10px;
//        margin-left: 20px;
//      }
//
//      .list-font {
//        text-align: left;
//        text-transform: capitalize !important;
//        font: italic normal normal 18px/19px Open Sans !important;
//        letter-spacing: 0.45px;
//        color: #FFFFFF;
//        opacity: 1;
//      }
//
//      //then i use 100% so when clicked it will take the 100% in width the "open" i use in stimulus
//      .sub-menu-ul.open {
//        display: block;
//        max-height: 100%;
//      }
//    }
//    .header-info {
//      grid-column: 5 / span 2;
//      display: flex;
//      justify-content: end;
//      align-items: center;
//
//      .number {
//        margin-right: 0.5rem;
//        text-align: right;
//        font: normal normal normal 20px/32px Open Sans;
//        letter-spacing: 0px;
//        color: #FFFFFF;
//        text-transform: uppercase;
//        opacity: 1;
//      }
//    }
//    .hamburger {
//      display: none;
//      background-color: transparent;
//      border: none;
//      cursor: pointer;
//      color: #fff;
//      font-size: 24px;
//    }
//  }
//}
@media screen and (max-width: 1169px) {
  .header-info{
    display: none;
  }
}
/* Responsive Styles */
@media (max-width: 701px) {
  .header-info {
    display: none; /* Hide header info on smaller screens */
  }
  .sub-menu-ul{
    max-height: 0;
    overflow: hidden;
  }
  .sub-menu-ul.open{
    max-height: 100%;
    display: block;
    background-color: #171717;
  }
  .navigation1{
    max-height: 0;
    overflow: hidden;
  }
  .navigation1.blow {
    grid-column: span 6; /* Spanning 3 columns */
    justify-content: space-evenly;
    display: block;
    max-height: 100%;
  }
  .nav-item {
    margin-bottom: 1rem;
    border-bottom: 2px solid gray;
    padding: 2rem;
    width: 100%;
    transition: max-height 0.3s ease-in-out; /* Added transition */
  }
  .navigation1 a {
    margin-right: 0; /* Remove right margin */
  }

  .hamburger {
    display: block;
    grid-row: 1; grid-column: 6
  }
  .menu{
    width: unset;
    position: relative;
    margin-left: -100px;
  }
  .sub-menu-list {
    padding: 20px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 360px) and (min-width: 15px){
  .header-img{
    display: none;
  }
  .hamburger{
    grid-column: 5;
  }
}
@media screen and (max-width: 1460px) {
  .container {
    margin-left: 78px;
    margin-right: 78px;
    width: unset;
  }
}
@media screen and (max-width: 765px) {
  .container{
    margin-left: 25px;margin-right: 25px;
  }
}
.footer-block{
  background: #171717;
  margin-top: 130px;
}
.footer-content{
  display: grid;grid-template-columns: repeat(6, 1fr);grid-gap: 51px;
  margin: 0 auto;
  max-width: 1390px;
}
.footer_logo{
  grid-column: 1 / span 1;
}
.logo{
  text-align: left;
  font: normal normal bold 24px/32px Open Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 45px;
}
.copyright{
  padding: 25px 25px 25px 0;
  text-align: left;
  font: normal normal normal 18px/19px Open Sans;
  letter-spacing: 0.45px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}
.footer_right{
  color: white;
  display: flex;justify-content: center;align-items: end;
  text-transform: uppercase;
  font: normal normal normal 18px / 19px Open Sans;
  letter-spacing: 0.45px;
  grid-column: 5 / span 2;
}
.footer-info{
  grid-column: 5 / span 2;grid-row: 1;
  justify-self: end;
  color: #FFFFFF;
  font-size: 20px;
  padding: 25px 25px 25px 0;
}
@media screen and (max-width: 896px) {
  .footer_right{
    grid-column: 4 / span 2;
  }
}
@media screen and (max-width: 590px) {
  .footer-content{
    grid-gap: 0;
  }
  .footer_right{
    align-items: flex-start;
    display: flex;flex-direction: column;
    grid-column: 1 / span 2;gap: 0;
    justify-content: flex-start;justify-items: flex-start;
  }
}
