body{padding-top: 123px;background: white;margin: 0;color: #000;font-family: "Open Sans";font-size: 1.8rem;letter-spacing: 0.18px;line-height: 1.44em;
}
.space-top{padding-top: 150px;}
.theme-container{margin: 0 auto;max-width: 1920px;width: 100%;padding-inline:135px;}
header {position: fixed;top: 0;width: 100%;background-color: #171717;z-index: 20;
  .nav {height: 123px;position: relative;
    .navbar-grid {display: flex;align-items: center;justify-content: space-between;padding: 3.90rem;
      .header-img {display: flex;align-items: center;
        img {height: auto;max-width: 100%;
        }
      }
    }
  }
}
.theme-main-navigation {
  display: flex;

  ul {
    display: flex;

    .nav-item {
      position: relative;
      margin-left: 60px;
      list-style-type: none;

      a {
        @include typoHeadline;
        color: $textColor1;
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;
        cursor: pointer;
      }

      .headline {
        @include typoHeadline;
        color: $textColor1;
        font-weight: 400;
        font-size: 18px;
        cursor: pointer;

        &:hover {
          font-weight: 700;
        }
      }

      ul {
        position: absolute;
        width: 100%;
        left: 0;
        top: calc(100% + 0.25rem);
        opacity: 0;
        display: none;
        transform: translateY(-10px);
        overflow: hidden;
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
        text-decoration: none;

        .sub-menu-list {
          padding: 10px;
          margin-left: 20px;

          .list-font {
            text-transform: capitalize;
            font-style: italic;
            color: #ffffff;
            @include typoHeadline;
            font-weight: 400;
            text-decoration: none;
          }
        }
      }
      &.active ul {
        display: block;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}




.header-info {
  .number {@include typoHeadline;margin-right: 0.5rem;text-align: right;color: #FFFFFF;font-weight: 400;font-size: 18px;}
}
.hamburger {display: none;cursor: pointer;color: #fff;font-size: $fontSizeHeadline1;}

.theme-overline{
  color: $textColor2;
  font-family: $fontFamily1;
  font-weight: $fontWeight;
  font-size: $fontSizeOverline;
  line-height: $lineHeightOverline;
  letter-spacing: 0.375px;
  text-transform: uppercase;
}
.theme-headline{
  color: $textColor3;
  font-family: $fontFamily1;
  font-size: $fontSizeHeadline1;
  line-height: $lineHeightHeadline1;
  text-transform: uppercase;
  font-weight: $fontWeight;
}
.theme-button{
  padding-top: 30px;
}
.theme-cta{
  color: $textColor3;
  font-family: $fontFamily1;
font-weight: $fontWeight;
  line-height: $lineHeightButton;
  letter-spacing: 0.45px;
  text-transform: uppercase;
}