<div class="block-blockquote">
    {% if block.text %}
        <blockquote>&bdquo;{{ block.text|html_sanitize }}&ldquo;</blockquote>
        <small class="blockquote-author">{{ block.author|html_sanitize }}</small>
    {% endif %}
</div>