
<style>
    .footer{
        display: flex;justify-content: flex-start;align-items: flex-start;
        margin-top: 150px;
        background: #171717;
    }
    .footer_logo{
        display: flex;flex-direction: column;
    }
    .logo{
        width: 211px;
        height: 33px;
        text-align: left;
        font: normal normal bold 24px/32px Open Sans;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: uppercase;
    }
    .copyright{
        width: 102px;
        height: 24px;
        text-align: left;
        font: normal normal normal 18px/19px Open Sans;
        letter-spacing: 0.45px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
    }
    .footer_right{
        display: flex;justify-content: end;align-items: end;
        color: white;
    }
</style>


<div class="footer">
    <div class="footer_logo">
        <div class="logo">logo</div>
        <div class="copyright">copyright</div>
    </div>
    <div class="footer_right">
        <div>datenschutz</div>
        <div>impressum</div>
        <div>agb</div>
    </div>
</div>
