<div class="footer">
    <div class="footer_logo">
        <div class="logo">logo</div>
        <div class="copyright">copyright</div>
    </div>
    <div class="footer_right">
        <div>datenschutz</div>
        <div>impressum</div>
        <div>agb</div>
    </div>
</div>
