
{#<div class="gallery_container">#}
{#    {% for image in item.gallery %}#}
{#        <div class="gallery">#}
{#                <img src="{{ image }}" alt="Gallery Image" class="gallery_img">#}
{#        </div>#}
{#    {% endfor %}#}
{#</div>#}


