<div class="block-jobs space-top" data-controller="jobs">
    <div class="theme-container">
        <div class="jobs-grid" data-jobs-target="grid" >
            <div class="left">
                <div class="label">
                    <div class="span">
                        <button class=" overline" data-action="click->jobs#filterByJobType" data-job-type="" >Alle anzeigen</button>
                        <div class="toggle-indicator">
                            <span class="icon icons icons-chevron-down"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                {% for blocks in block.jobs %}
                    <div class="items" data-jobs-target="item">
                        <div class="type" data-job-type>{{ blocks.type }}</div>
                        <div class="text-container">
                            <span class="theme-headline">{{ blocks.title }}</span>
                            <span class="copy theme-copy">{{ blocks.copy }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
