<div class="block-jobs" data-controller="jobs">
    <div class="theme-container">
        <div class="jobs-grid" data-jobs-target="grid" >
            <div class="table">
                <div class="table-label">
                    <div class="table-span">
                        <button class=" theme-overline jobs-overline" data-action="click->jobs#filterByJobType" data-job-type="" >Alle anzeigen</button>
                        <div class="button-caret">
                            <button class="caret-button" data-action="click->jobs#down" data-jobs-target="caretDown" >&or;</button>
                            <button class="caret-button caret-up" data-action="click->jobs#caret" data-jobs-target="caret">&#94;</button>
                        </div>
                    </div>
                        {#                    <div class="hr-container">#}
                        {#                        <hr>#}
                        {#                    </div>#}
                    <div class="job-button">
                        <button class="job-headline" data-action="click->jobs#filterByJobType" data-job-type="Vollzeit">vollzeit</button>
                        <button class="job-headline" data-action="click->jobs#filterByJobType" data-job-type="Teilzeit">teilzeit</button>
                        <button class="job-headline" data-action="click->jobs#filterByJobType" data-job-type="Praktikum">praktikum</button>
                    </div>
                </div>
            </div>
            <div class="job-items">
                {% for blocks in block.jobs %}
                    <div class="job-item" data-job-item>
                        <div class="job-row">
                            <div class="job-type theme-overline" data-job-type>{{ blocks.type }}</div>
                            <div class="job-wrapper">
                                <span class="job-title theme-headline">{{ blocks.title }}</span>
                                <span class="job-text theme-copy">{{ blocks.ctaTitle }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
