<div class="block-logo space-top">
    <div class="theme-container">
        <div class="logo-grid">
            <div class="logo-overline theme-overline">{{ block.overline }}</div>
            {% for block in block.items %}
                <div class="logo-container">
                <img src="{{ media_url(block.media)}}" alt="{{ media_parameter(block.media, 'alt')}}">
                </div>
            {% endfor %}
        </div>
    </div>
</div>