<div class="block-picture">
    {% if block.title %}
        {{ block.title|headline('title') }}
    {% endif %}
    {% if block.file %}
        {% import "theme/macros.html.twig" as macros %}
        <figure>
            {{ macros.imageLazyLoadDefault(block.file, 'container_width') }}
            {% if block.caption %}
                <figcaption>{{ block.caption }}</figcaption>
            {% endif %}
        </figure>
    {% endif %}
</div>