<div class="block-quote space-top">
    <div class="wrapper">
        <div class="theme-container">
            <div class="grid">
                <div class="svg-left">
                    <img src="{{ asset("/build/theme/images/qoutes.svg")}}" alt="quote-svg">
                </div>
                <div class="text-container">
                    <div class="headline">{{ block.headline }}</div>
                    <div class="caption">{{ block.caption  }}</div>
                </div>
                <div class="svg-right">
                    <img src="{{ asset("/build/theme/images/qoutes.svg")}}" alt="quote-svg">
                </div>
            </div>
        </div>
    </div>
</div>
