<div class="block-quote">
    <div class="quote-container">
        <div class="theme-container">
            <div class="block-quote-grid">
                <div class="quote-svg">
                    <img src="{{ asset("/build/theme/images/qoutes.svg")}}" alt="quote-svg">
                </div>
                <div class="quote">
                    <div class="theme-headline quote-headline">{{ block.headline }}</div>
                    <div class="theme-headline quote-caption">{{ block.caption  }}</div>
                </div>
                <div class="quote-svg2">
                    <img src="{{ asset("/build/theme/images/qoutes.svg")}}" alt="quote-svg">
                </div>
            </div>
        </div>
    </div>
</div>
