<div class="block-quote">
    <div class="theme-container">
        <div class="svg-left">
            <img src="{{ asset("/build/theme/images/qoutes.svg")}}" alt="quote-svg">
        </div>
        <div class="flex">
            <div class="text-container">
                <div class="theme-headline headline">{{ block.headline|html_sanitize }}</div>
                <div class="theme-headline caption">{{ block.caption|html_sanitize  }}</div>
            </div>
        </div>
        <div class="svg-right">
            <img src="{{ asset("/build/theme/images/qoutes.svg")}}" alt="quote-svg">
        </div>
    </div>
</div>
