<div class="block-quote">
    <div class="quote-container">
        <div class="block-quote-grid">
            <div class="quote-svg">
                <img src="{{ asset("/build/theme/images/qoutes.svg")}}" >
            </div>
            <div class="quote">
                <div class="quote-headline">{{ block.headline }}</div>
                <div class="quote-overline">{{ block.overline  }}</div>
            </div>
            <div class="quote-svg2">
                <img src="{{ asset("/build/theme/images/qoutes.svg")}}" >
            </div>
        </div>
    </div>

</div>
