<div class="block-slider" data-block="slider">
    <div class="slider" data-slider>
        {% for slide in slides %}
            <div class="slide">
                <div class="bg" style="background:url({{ media_url(slide.image) }}) no-repeat center bottom/cover;"></div>
                <div class="caption">
                    <div class="title">{{ slide.title }}</div>
                    {% if slide.text %}
                        <div class="text">{{ slide.text }}</div>
                    {% endif %}
                    {% if slide.url %}
                        <a href="{{ slide.url }}" class="btn white">More</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>