@import '~source-sans-pro/source-sans-pro.css';
@import '~typeface-cormorant-garamond/index.css';
@import '~compass-mixins/lib/compass';
@import 'include/reset';
@import 'include/vars';
@import 'include/mixins';
@import 'include/keyframes';
@import 'include/blueprints';
@import 'include/typography';
@import 'include/grid';
@import 'include/blocks';
@import 'include/theme';
@import 'include/responsive';
@import 'views/article';
@import 'views/page';

[class^="col-"] {background:#ccc;
  + [class^="col-"] {background:#ddd;
    + [class^="col-"] {background:#eee;
      + [class^="col-"] {background:#f3f3f3;}
    }
  }
}