@import '~source-sans-pro/source-sans-pro.css';
@import '~typeface-cormorant-garamond/index.css';
@import '../../theme/styles/include/vars';
@import '../../theme/styles/include/reset';
@import '~compass-mixins/lib/compass';
@import '~compass-mixins/lib/animate';
@import '../../theme/styles/include/blueprints';
html {font-size:$baseFontSize;}
body {font-family:$fontFamily;font-size:1rem;line-height:$lineHeight;padding:10px!important;}
em {font-style:italic;}
strong {font-weight:600;}
p {margin-bottom:1em;
  &:last-child {margin-bottom:0;}
}