<div class="nav" data-controller="sub-menu">
    <div class="theme-container">
        <div class="navbar-grid">
            <div class="header-img">
                <img src="{{ asset('build/theme/images/pfote.svg')}}" alt="nav_img" class="paw-logo">
                <img src="{{ asset('build/theme/images/logo.svg') }}" alt="nav_img" class="text-logo">
            </div>
            <nav class="navigation">
                {% if navigation is defined and navigation.main %}
                    {% for node in navigation.main.nodes %}
                        <li class="nav-item">
                            <a href="" class="">{{ node.label ?? node.subject.title }}</a>
                            {% if node.children is not empty %}
                                {% if node.children is defined %}
                                    <ul class="sub-menu-ul">
                                        {% for node in node.children %}
                                            <li class="sub-menu-list">
                                                <a href="/show" class="list-font">{{ node.label ?? node.subject.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif%}
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            </nav>
            <div class="header-info">
                <span class="number">+49 (0) 89 1234 5678 90</span>
            </div>
            <button class="hamburger" data-action="click->sub-menu#button">&#9776;</button>
        </div>
    </div>
</div>