// Colors
$primaryColor: #d50032;
$textColor1:#fff;
$textColor2:#000;
$textColor3:#171717;

// root Fonts
$fontSize: 16px;

//fonts
$fontSizeOverline:1.5rem;
$fontSizeHeadline1:2.4rem;//==>24px
$fontSizeCopy:1.8rem;//==>18px


//font family
$fontFamily1: "Open Sans";
$fontFamily2: "Source Sans Pro";

//line heights
$lineHeight: 1.2em;
$lineHeightOverline: 1.26em;//===>19px/15
$lineHeightHeadline1: 1.33em;//====>32px/24
$lineHeightHeadline2: 1.2em;
$lineHeightCopy: 1.44em;//====>26px/18
$lineHeightCopy2: 1.055em;//===>19px/18
$lineHeightButton: 1.055em;//===>19px/18
$lineHeightReduced: 1.2em;
// Spaces
//font weight
$fontWeight:700;

//images
$maxWidth:100%;
$width:100%